#  How to Convert Pandas Data Frame in to Pandas Series

In [1]:
import pandas as pd
data = pd.read_csv("Desktop/Stock price.csv")

In [2]:
data

          Date  Closing price     Return
0   01-01-2020             100  0.010000
1   02-01-2020             120  0.200000
2   03-01-2020             130  0.083333
3   04-01-2020              98 -0.246154
4   05-01-2020              50 -0.489796
5   06-01-2020             102  1.040000
6   07-01-2020             104  0.019608
7   08-01-2020             150  0.442308
8   09-01-2020             160  0.066667
9   10-01-2020             109 -0.318750
10  11-01-2020              95 -0.128440

In [3]:
type(data)

pandas.core.frame.DataFrame

In [4]:
data1 = data.iloc[:,2]

In [5]:
data1

0     0.010000
1     0.200000
2     0.083333
3    -0.246154
4    -0.489796
5     1.040000
6     0.019608
7     0.442308
8     0.066667
9    -0.318750
10   -0.128440
Name: Return, dtype: float64

In [6]:
type(data1)

pandas.core.series.Series

### END!!